@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


.blog-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 95%;
    
  }
  
  .blog-card-image {
    width: 100%;
    height: 200px; /* Ensure consistent image height */
    object-fit: cover; /* Ensure the image covers the area */
  }
  
  .blog-card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .blog-card-title {
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
  }
  
  .blog-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .blog-card-avatar {
    width: 40px;
    height: 40px;
  }
  
  .blog-card-views {
    font-size: 14px;
    color: gray;
    margin-top: 8px;
    text-align: right;
  }
  
  .blog-card-button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .blog-card-button:hover {
    background-color: #333;
  }
  
  p.pdescription {
    font-family: 'Merriweather', serif;
    font-size: 0.9em;
    line-height: 1.5;
    color: #555;
    margin: 0 0 20px 0;
  }


