.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

/* .contact4-header {
    background: url('./images/b1.jpg')  center center fixed;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180vh;
    margin-top: 90px;
  }
  
  .contact4-header h1 {
    font-size: 4em;
    margin: 0;
    color: #ffffff;
  }
  
  .contact4-header p {
    font-size: 1.2em;
    margin: 20px 0 0 0;
    color: #ffffff;
  } */

@media (max-width: 1200px) {
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .blog-list {
    grid-template-columns: 1fr;
  }
}
