/* Cart.css */
.cart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    /* background-color: #F9F7F7; */
    padding-top: 100px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.cart-table {
    width: 150%;
    border-collapse: collapse;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DBE2EF;
    padding: 50px 0;
}

.product {
    display: flex;
    align-items: center;
}

.product img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10px;
}

.remove-button {
    background-color: transparent;
    border: none;
    font-size: 1.2em;
    margin-right: 10px;
    cursor: pointer;
}

.price, .quantity, .subtotal {
    width: 20%;
    text-align: center;
}

.quantity input {
    width: 50px;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #3F72AF;
    border-radius: 4px;
    font-size: 1em;
    background-color: #F9F7F7;
    color: #112D4E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.quantity input:focus {
    outline: none;
    border-color: #112D4E;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.quantity input:hover {
    background-color: #DBE2EF;
}


.cart-summary {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coupon-input {
    padding: 10px;
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid #DBE2EF;
    border-radius: 5px;
}

.apply-coupon-button {
    background-color: #3F72AF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cart-totals {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DBE2EF;
    padding: 20px;
    border-radius: 10px;
}

.cart-totals div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.checkout-button {
    background-color: #3F72AF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}
