.confirmationContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border: 2px;
    padding: 20px;
    text-align: center;
    animation: scaleUp 0.8s forwards;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it appears above other content */
  }
  
  .confirmationContent {
    text-align: center;
  }
  
  .trackOrderButton {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  @keyframes scaleUp {
    from {
      transform: translate(-50%, -50%) scale(0);
    }
    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  