.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 95%;
  background-color: #f5f2f2;
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 1;
  margin-top: 0.2px;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: auto; /* This will push the logo to the left */
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;
  padding-left: 200px;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.content {
  padding-top: 50px; /* Adjust padding to leave space for the fixed navbar */
}

.profile-icon, .bag-icon {
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
  margin-left: 15px;
  cursor: pointer;
  right: 0;
}

.search-input {
  padding: 5px; 
  margin-right: 15px; /* Space to the right */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Font size */
  width: 200px; /* Width of the input field */
  border-color: transparent;
  background-color:rgb(246, 246, 246);
}

.logout-button {
  color: #000000; 
  background: transparent;
  /* padding: 10px 20px; */
  border: none; 
  cursor: pointer;
  font-size: 14px; 
  text-align: center;
  text-decoration: none; 
}


