.order-management {
  padding: 20px;
  padding-bottom: 0%;
  background-color: #f9f9f9;
  color: #333;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-left: 220px;
}

.om {
  font-size: 28px;
  color: #3f72af;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 180px;
  font-weight: bold;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.order-table th,
.order-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.order-table th {
  background-color: #3f72af;
  color: #fff;
}

.order-table td {
  background-color: #fff;
}

.order-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.order-table tr:hover {
  background-color: #ddd;
}

.ordered-item-details {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  
}

.ordered-item-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 96%;
  padding: 10px;
  margin-top: 5px;
  /* border-radius: 5px;
  border: 1px solid #ccc; */
  font-size: 14px;
}

input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.edit-btn {
  background-color: #e94560;
  color: #fff;
  border: none;
  padding: 5px 22px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

.save-btn,
.delete-btn {
  background-color: #e94560;
  color: #fff;
  border: none;
  padding: 5px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease;
}

.edit-btn:hover,
.save-btn:hover,
.delete-btn:hover {
  background-color: #d42b4b;
}
