body {
  font-family: Arial, sans-serif;
}

.contact1-header {
  background: url('./images/pp3.jpg')  center center fixed;
  background-size: cover;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 205vh;
  margin-top: 90px;
}

.contact1-header h1 {
  font-size: 4em;
  margin: 0;
  color: #ffffff;
}

.contact1-header p {
  font-size: 1.2em;
  margin: 20px 0 0 0;
  color: #ffffff;
}

.sidebar {
  position: absolute;
  top: 600px;
  left: 0;
  width: 270px;
  height: 192%;
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 2px 0 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: transparent;
}

.sidebar input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sidebar h2 {
  margin: 20px 0 10px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  cursor: pointer;
}

.sidebar ul li:hover {
  text-decoration: underline;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-left: 270px;
  transition: margin-left 0.3s ease;
}

.card {
  width: 250px;
  padding: 20px;
  margin: 20px;
  border: 1px  rgb(202, 197, 197);
  border-radius: 10px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
  .product-image {
    width: 95%;
    height: auto;
    border-radius: 10px;
  }
  
  .product-name {
    font-size: 1em;
  }
  
  .product-price {
    font-size: 1em;
    color: #282d37;
  }

  .grid {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .extra-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px;
    background-color: #f9f7f7;
    background: transparent;
    /* border-top: 1px solid #dbe2ef; */
    justify-content: center;
  }
  
  .extra-image {
    width: 30%;
    height: 10%;
    border-radius: 5px;
  }

  .video-container {
    position: relative;
    flex: 1;
    max-width: 35%;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .extra-video {
    width: 100%;
    height: auto;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the transparency level here */
    border-radius: 8px;
    z-index: 1;
  }

  .extra-content-text {
    max-width: 50%;
    padding: 16px;
  }
  
  .extra-content-text h2 {
    color: #3f72af;
    font-size: 1.8em;
    margin-bottom: 16px;
  }
  
  .extra-content-text p {
    color: #112d4e;
    font-size: 1.0em;
  }

  .cart {
    background-color: #ffffff;
    border: 1px solid #dbe2ef;
    border-radius: 8px;
    padding: 16px;
    margin: 16px auto;
    width: 80%;
    text-align: center;
  }

  .add-to-cart {
    background-color: #3f72af;
    color: #f9f7f7;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
  }
  
  .add-to-cart:hover {
    background-color: #112d4e;
  }

  .quick-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(15%, -620%);
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 8px;
    border-radius: 10%; 
    color: rgb(0, 0, 0);
  }
  
  .image-container:hover .quick-view {
    opacity: 2;
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .star-rating {
    display: flex;
    margin-left: 75px;
  }
  
  .star {
    color: #ddd;
    font-size: 1.5rem;
  }
  
  .star.filled {
    color: #f5c518;
  }
  