.sidebar {
    width: 250px;
    padding: 20px;
    background: linear-gradient(180deg, #f7f7f7, #e0e0e0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-family: Arial, sans-serif;
    height: 50%;
  }
  
  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #3f72af;
    padding-bottom: 10px;
  }
  
  .sidebar input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    font-family: inherit; /* Added font style */
  }
  
  .sidebar input[type="text"]:focus {
    border-color: #3f72af;
    outline: none;
  }
  
  .sidebar input[type="range"] {
    width: 100%;
    margin: 10px 0;
  }
  
  .sidebar p {
    font-size: 18px;
    margin: 10px 0;
    color: #666;
  }
  
  .sidebar button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    background-color: #3f72af;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .sidebar button:hover {
    background-color: #2c5a8a;
    transform: scale(1.02);
  }
  
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 12px 0;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    border-bottom: 1px solid #ddd;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .sidebar ul li:hover {
    color: #fff;
    background-color: #3f72af;
  }
  