/* TrackOrderPage.css */

body {
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

.wrapper {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 120px;
}

.header {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.input {
  width: 70%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.button {
  padding: 5px 15px;
  height: 50px;
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #5ba8fb;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.order-details {
  text-align: left;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.order-details h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.order-details p {
  font-size: 1.1rem;
  margin: 5px 0;
}

.order-details h3 {
  font-size: 1.5rem;
  color: #555;
  margin: 10px 0;
}

.order-details ul {
  list-style-type: none;
  padding: 0;
}

.order-details li {
  font-size: 1.1rem;
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.order-details li:not(:last-child) {
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 1rem;
  margin-top: 10px;
}
