.why-choose-us {
    padding: 40px;
    background-color: #f9f7f7;
    text-align: center;
    background: transparent;
}

.benefits {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.benefit {
    max-width: 200px;
}

.benefit h3 {
    margin-top: 10px;
}

.benefit p {
    font-size: 14px;
    color: #666;
}

.icon {
    font-size: 2rem;
    color: #3f72af;
}

.ic4{
    margin-left: 30px;
}